.makeDir{

    background-color: rgb(255, 255, 255) !important;
}
    

.StartCommand{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
}

.importantNote{
    font-style: italic !important;
}