.mainHead{
    color: white ;
    background-color: black;
    font-size: 40px;
    font-family: 'Arial Narrow Bold';
    text-align: center ;
    padding: 14px;

}


.makeDir{

    background-color: rgb(221, 221, 221) ;
    padding: 0%;
    margin: 0%;
}

.remDir{

    background-color: rgb(232, 232, 232) ;
    padding: 0%;
    margin: 0%;
}

    

.StartCommand{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
}

.importantNote{
    font-style: italic;
}
.mgapics{
    width: 200px;
  height: 300px;
  object-fit
}