.mainHead{
    color: white ;
    
    font-size: 40px;
    font-family: 'Arial Narrow Bold';
    text-align: center ;
    padding: 0px;

}

body{
    text-align: center ;
    
}
.makeDir{

    background-color: rgb(221, 221, 221) ;
    padding: 0%;
    margin: 0%;
}

.remDir{

    background-color: rgb(232, 232, 232) ;
    padding: 0%;
    margin: 0%;
}

    

.StartCommand{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
}

.importantNote{
    font-style: italic;
}
.mgapics{
    width: 800px;
  height: 600px;
  object-fit: fill;

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

p{
    font-size: 30px;
}

h2{
    font-size: 50px;
}


/* ito yung para sa mga unordered list ko hart hart */
.ulstyles{
    font-size: 30px;

}
.phead{
    padding: 0%;
    
    color: rgb(205, 205, 205);
}

.header{
    background-color: black;
}